<!doctype html>
%html
  %head
    %title Furnish
    %link{:href => "stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %meta{:charset => "UTF-8"}/
    %script{:src => "js/jquery-1.7.1.min.js"}
    %script{:src => "js/slides.jquery.js"}
    %script{:src => "js/funcs.js"}
    /[if lt IE 9]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    /[if IE]
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  %body
    .bonus
      %a{:href => "#"} Дополнительные бонусы для Вас и Ваших друзей
      %button Подробнее
      %a.close-a{:href => "#"}
    %header
      %nav.top-nav
        .wrapper
          %ul
            %li
              %a{:href => "#"} О проекте
            %li
              %a{:href => "#"} Вопросы и ответы
            %li
              %a{:href => "#"} Контакты
            %li
              %a{:href => "#"}
                %img{:src => "images/content/like.png"}/
          %ul
            %li
              %a{:href => "#"} Выход
            %li.bord-dot.basket
              %a{:href => "#"}
                %i
                %span Корзина
            %li.setting.active
              %a{:href => "#"}
            %li
              Ваши баллы:
              %span 2 600
            %li.bord-dot.user-kab.active
              %a{:href => "#"}
                %i
                %span Личный кабинет
            %li.soc-li.vk
              %a{:href => "#"}
            %li.soc-li.fb
              %a{:href => "#"}
            %li.soc-li.tw
              %a{:href => "#"}
      .wrapper
        .main-head
          .alleft
            .search-box
              %span Поиск по сайту:
              %div
                %input{:type => "text"}/
                %button
            %nav.dop-menu
              %ul
                %li
                  %i
                  %a{:href => "#"} Выберите дизайнера
                %li
                  %i
                  %a{:href => "#"} Консьерж-сервис
                %li
                  %i
                  %a{:href => "#"} Блог о дизайне
          .alcenter
            %img{:alt => "", :src => "images/content/logo.png"}/
          .alright
            .phone
              %span> 495
              333-93-40
            .town
              %span Ваш город:
              .purple
                %a{:href => "#"}
                  %span Москва
                %i.arrow-down
                %ul
                  %li
                    %a.active{:href => "#"} Москва
                  %li
                    %a{:href => "#"} Санкт-Петербург
                  %li
                    %a{:href => "#"} Ростов
                  %li
                    %a{:href => "#"} Калининград
        %nav.main-menu
          %ul
            %li.hidden-ul
              %a{:href => "#"} Мебель и обстановка
              %i.arrow-down
              %ul.hide-ul{"data-left" => "41"}
                %li
                  %h4 Мебель
                  %ul
                    %li
                      %i
                      %a{:href => "#"} Диваны
                    %li
                      %i
                      %a{:href => "#"} Кресла
                    %li
                      %i
                      %a{:href => "#"} Кровати
                    %li
                      %i
                      %a{:href => "#"} Тумбочки
                    %li
                      %i
                      %a{:href => "#"} Шкафы и комоды
                    %li
                      %i
                      %a{:href => "#"} Столы
                    %li
                      %i
                      %a{:href => "#"} Стулья
                %li
                  %h4 Мебельные аксессуары
                  %ul
                    %li
                      %i
                      %a{:href => "#"} Журнальные столики
                    %li
                      %i
                      %a{:href => "#"} Этажерки
                    %li
                      %i
                      %a{:href => "#"} Стеллажи и полки
                    %li
                      %i
                      %a{:href => "#"} Ширмы
                    %li
                      %i
                      %a{:href => "#"} Вешалки для прихожей
                    %li
                      %i
                      %a{:href => "#"} Сервировочные столики
                    %li
                      %i
                      %a{:href => "#"} Газетницы
                %li
                  %h4 Мебель для кабинетов
                  %ul
                    %li
                      %i
                      %a{:href => "#"} Столы
                    %li
                      %i
                      %a{:href => "#"} Кресла и стулья
                    %li
                      %i
                      %a{:href => "#"} Системы хранения (шкафы, полки)
                    %li
                      %i
                      %a{:href => "#"} Тумбочки
                %li
                  %h4 Свет
                  %ul
                    %li
                      %i
                      %a{:href => "#"} Напольные светильники
                    %li
                      %i
                      %a{:href => "#"} Настольные светильники
            %li
              %a{:href => "#"} декор и аксессуары
            %li
              %a{:href => "#"} товары для детской
            %li
              %a{:href => "#"} здоровый образ жизни
            %li
              %a{:href => "#"} подарки для дома
            %li
              %a{:href => "#"} дизайнерские вещи
            %li
              %a{:href => "#"} sale
        .crump
          %ul
            %li
              %a{:href => "#"} Главная
              %i
            %li
              %a{:href => "#"} Восстановление пароля
    .wrapper
      .recovery
        %span Ваш Email
        %input{:type => "text"}/
        %div
          %button Восстановить пароль