<!doctype html>
%html
  %head
    %title Furnish
    %link{:href => "stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %meta{:charset => "UTF-8"}/
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"}
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="jquery/jquery-1.7.2.min.js"%3E%3C/script%3E'))    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}
    :javascript
      !window.jQuery.ui && document.write(unescape('%3Cscript src="jquery/jquery-ui-1.8.21.custom.min.js"%3E%3C/script%3E'))    %script{:src => "js/jquery.mousewheel.min.js"}
    %script{:src => "js/slides.jquery.js"}
    %script{:src => "js/funcs.js"}
    %script{:src => "js/jquery.mousewheel.min.js"}
    %script{:src => "js/jquery.mCustomScrollbar.js"}
    %script{:src => "js/jcarousel.js", :type => "text/javascript"}
    /[if lt IE 9]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    /[if IE]
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  %body{"data-ws" => "1065"}
    .bonus
      %a{:href => "#"} Дополнительные бонусы для Вас и Ваших друзей
      %button Подробнее
      %a.close-a{:href => "#"}
    %header
      %nav.top-nav
        .wrapper
          %ul
            %li
              %a{:href => "#"} О проекте
            %li
              %a{:href => "#"} Вопросы и ответы
            %li
              %a{:href => "#"} Контакты
            %li
              %a{:href => "#"}
                %img{:src => "images/content/like.png"}/
          %ul
            %li
              %a{:href => "#"} Выход
            %li.bord-dot.basket
              %a{:href => "#"}
                %i
                %span Корзина
            %li.setting.active
              %a{:href => "#"}
            %li
              Ваши баллы:
              %span 2 600
            %li.bord-dot.user-kab.active
              %a{:href => "#"}
                %i
                %span Личный кабинет
            %li.soc-li.vk
              %a{:href => "#"}
            %li.soc-li.fb
              %a{:href => "#"}
            %li.soc-li.tw
              %a{:href => "#"}
      .wrapper
        .main-head
          .alleft
            .search-box
              %span Поиск по сайту:
              %div
                %input{:type => "text"}/
                %button
            %nav.dop-menu
              %ul
                %li
                  %i
                  %a{:href => "#"} Выберите дизайнера
                %li
                  %i
                  %a{:href => "#"} Консьерж-сервис
                %li
                  %i
                  %a{:href => "#"} Блог о дизайне
          .alcenter
            %img{:alt => "", :src => "images/content/logo.png"}/
          .alright
            .phone
              %span> 495
              333-93-40
            .town
              %span Ваш город:
              .purple
                %a{:href => "#"}
                  %span Москва
                %i.arrow-down
                %ul
                  %li
                    %a.active{:href => "#"} Москва
                  %li
                    %a{:href => "#"} Санкт-Петербург
                  %li
                    %a{:href => "#"} Ростов
                  %li
                    %a{:href => "#"} Калининград
        %nav.main-menu
          %ul
            %li.hidden-ul
              %a{:href => "#"} Мебель и обстановка
              %i.arrow-down
              %ul.hide-ul{"data-left" => "41"}
                %li
                  %h4 Мебель
                  %ul
                    %li
                      %i
                      %a{:href => "#"} Диваны
                    %li
                      %i
                      %a{:href => "#"} Кресла
                    %li
                      %i
                      %a{:href => "#"} Кровати
                    %li
                      %i
                      %a{:href => "#"} Тумбочки
                    %li
                      %i
                      %a{:href => "#"} Шкафы и комоды
                    %li
                      %i
                      %a{:href => "#"} Столы
                    %li
                      %i
                      %a{:href => "#"} Стулья
                %li
                  %h4 Мебельные аксессуары
                  %ul
                    %li
                      %i
                      %a{:href => "#"} Журнальные столики
                    %li
                      %i
                      %a{:href => "#"} Этажерки
                    %li
                      %i
                      %a{:href => "#"} Стеллажи и полки
                    %li
                      %i
                      %a{:href => "#"} Ширмы
                    %li
                      %i
                      %a{:href => "#"} Вешалки для прихожей
                    %li
                      %i
                      %a{:href => "#"} Сервировочные столики
                    %li
                      %i
                      %a{:href => "#"} Газетницы
                %li
                  %h4 Мебель для кабинетов
                  %ul
                    %li
                      %i
                      %a{:href => "#"} Столы
                    %li
                      %i
                      %a{:href => "#"} Кресла и стулья
                    %li
                      %i
                      %a{:href => "#"} Системы хранения (шкафы, полки)
                    %li
                      %i
                      %a{:href => "#"} Тумбочки
                %li
                  %h4 Свет
                  %ul
                    %li
                      %i
                      %a{:href => "#"} Напольные светильники
                    %li
                      %i
                      %a{:href => "#"} Настольные светильники
            %li
              %a{:href => "#"} декор и аксессуары
            %li
              %a{:href => "#"} товары для детской
            %li
              %a{:href => "#"} здоровый образ жизни
            %li
              %a{:href => "#"} подарки для дома
            %li
              %a{:href => "#"} дизайнерские вещи
            %li
              %a{:href => "#"} sale
        .crump
          %ul
            %li
              %a{:href => "#"} Главная
              %i
            %li
              %a{:href => "#"} Пользовательское соглашение
    .wrapper
      .text-box
        %h1 Пользовательское соглашение
        %p.large-text Настоящее Соглашение разработано в целях урегулирования отношений между Администрацией информационного ресурса «Хабрахабр» и физическим лицом, осуществляющим поиск и распространение информации на данном ресурсе.
        %p.large-text Информационный ресурс «Хабрахабр» не является средством массовой информации, Администрация ресурса не осуществляет редактирование размещаемой информации и не несёт ответственность за её содержание.
        %p.large-text На информационном ресурсе «Хабрахабр» уважается и защищается авторское право и связанные с ним личные имущественные и неимущественные права. Использование произведений без согласия автора допускается лишь в установленных законом случаях.
        %p.large-text Пользователь, разместивший информацию на ресурсе «Хабрахабр», самостоятельно представляет и защищает свои интересы, возникающие в связи с размещением указанной информации, в отношениях с третьими лицами.
        %h4 1. Стороны соглашения
        %p Администрация информационного ресурса «Хабрахабр», расположенного на доменном имени www.habrahabr.ru, в дальнейшем Администрация, и физическое лицо, размещающее информацию на данном ресурсе, в дальнейшем Пользователь, заключили настоящее Пользовательское соглашение, в дальнейшем Соглашение, о нижеследующем.
        %h4 2. Предмет соглашения
        %p Администрация предоставляет Пользователю право на размещение на информационном ресурсе «Хабрахабр» следующей информации:
        %ul
          %li — текстовой информации;
          %li — аудиоматериалов в формате, установленном Администрацией;
          %li — видеоматериалов в формате, установленном Администрацией;
          %li — фотоматериалов в формате, установленном Администрацией;
          %li — ссылок на материалы, размещённые на данном информационном ресурсе, либо на других информационных ресурсах.
        %h4 3. Права и обязанности сторон
        %span.bold-t Пользователь имеет право:
        %ul
          %li — свободно осуществлять поиск, получение, передачу, производство и распространение информации на информационном ресурсе «Хабрахабр» любым законным способом;
          %li — комментировать предоставленную иными Пользователями информацию;
          %li — в любой момент потребовать от Администрации скрытия от прочих пользователей информационного ресурса «Хабрахабр» всей предоставленной им информации, а также собственной учетной записи Пользователя;
          %li — изменять рейтинги других Пользователей и осуществлять иные действия с соблюдением установленных Администрацией Правил.
        %span.bold-t Администрация имеет право:
        %ul
          %li — по своему усмотрению создавать, изменять, отменять Правила пользования информационным ресурсом «Хабрахабр»;
          %li — по своему усмотрению ограничить доступ к любой информации, размещённой Пользователем; удалить информацию, размещённую Пользователем, учётную запись Пользователя;
          %li — отказать в регистрации учётной записи Пользователю, учётная запись которого была ранее удалена за нарушение условий Соглашения.
        %span.bold-t Пользователь обязуется:
        %ul
          %li
            — обеспечить достоверность предоставляемой информации;
            %div при распространении информации, создателем которой Пользователь не является, обеспечить включение в её состав достоверных сведений об обладателе этой информации или об ином лице, распространяющем информацию, в форме и объёме, которые достаточны для идентификации такого лица;
          %li - не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность;
          %li - не нарушать работоспособность сайта путём размещения информации, содержащей вирусы, создания дополнительной нагрузки на сервер, применением программ, не обусловленных функциональным содержанием информационного ресурса и иными способами.
        %span.bold-t Администрация обязуется:
        %ul
          %li
            \- осуществлять защиту учетной записи Пользователя от неправомерного доступа, уничтожения размещённой Пользователем информации, а также от иных неправомерных действий в отношении такой информации всеми находящимися в её распоряжении техническими средствами;
            %div в случае размещения Пользователем информации, распространение которой ограничено или запрещено федеральными законами, либо вынести Пользователю предупреждение и удалить такую информацию, либо удалить учётную запись Пользователя, либо применить одну или несколько мер одновременно;
          %li - предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом.
        %h4 4. Иные условия
        %p Пользователь осознаёт и соглашается с тем, что размещённая им информация может быть использована поисковыми или другими автоматизированными сервисами и иными способами.
        %p Администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг.
        %p В случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса.
        %p
        %p
        %p
    %footer
      .wrapper
        %nav.foot-left
          %ul
            %li
              %a{:href => "#"} Пользовательское соглашение
            %li
              %a{:href => "#"} Доставка и оплата
            %li
              %a{:href => "#"} Возврат и обмен товара
        %div © 2012 The Furnish
        %nav.foot-right
          %ul
            %li
              %a{:href => "#"} Поставщикам
            %li
              %a{:href => "#"} Дизайнерам