/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../DOCUME~1/I2B0D~1.KOM/LOCALS~1/Temp/Rar$EX00.703/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../DOCUME~1/I2B0D~1.KOM/LOCALS~1/Temp/Rar$EX00.703/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../DOCUME~1/I2B0D~1.KOM/LOCALS~1/Temp/Rar$EX00.703/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../DOCUME~1/I2B0D~1.KOM/LOCALS~1/Temp/Rar$EX00.703/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../DOCUME~1/I2B0D~1.KOM/LOCALS~1/Temp/Rar$EX00.703/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../DOCUME~1/I2B0D~1.KOM/LOCALS~1/Temp/Rar$EX00.703/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../DOCUME~1/I2B0D~1.KOM/LOCALS~1/Temp/Rar$EX00.703/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../DOCUME~1/I2B0D~1.KOM/LOCALS~1/Temp/Rar$EX00.703/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../DOCUME~1/I2B0D~1.KOM/LOCALS~1/Temp/Rar$EX00.703/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Conv_PFDinTextCompPro-Regular';
  src: url("fonts/PFDinTextCompPro-Medium.eot");
  src: local("?"), url("../fonts/PFDinTextCompPro-Regular.woff") format("woff"), url("../fonts/PFDinTextCompPro-Regular.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_PFDinTextCompPro-Medium';
  src: url("fonts/PFDinTextCompPro-Medium.eot");
  src: local("?"), url("../fonts/PFDinTextCompPro-Medium.woff") format("woff"), url("../fonts/PFDinTextCompPro-Medium.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 104, ../sass/screen.scss */
.alleft {
  text-align: left;
}

/* line 105, ../sass/screen.scss */
.alcenter {
  text-align: center;
}

/* line 106, ../sass/screen.scss */
.alright {
  text-align: right;
}

/* line 107, ../sass/screen.scss */
.purple-board, .main-menu li a, .base-info h3 a:hover, .bottom-menu li a, .bottom-block .bottom-block-cont .base-info h3 a {
  text-decoration: none;
  border-bottom-color: #d3c3df;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* line 116, ../sass/screen.scss */
body {
  background: #fff;
  font-family: Arial, sans-serif;
  color: #434440;
  font-size: 13px;
}

/* line 117, ../sass/screen.scss */
a:hover, a:hover span {
  text-decoration: none !important;
  border-bottom: none !important;
}

/* line 119, ../sass/screen.scss */
.wrapper {
  min-width: 880px;
  max-width: 1330px;
  padding: 0 10px;
  margin: 0 auto;
}
/* line 37, ../sass/screen.scss */
.wrapper ul:after, .wrapper div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 45, ../sass/screen.scss */
.wrapper ul, .wrapper div {
  display: block;
}
/* line 46, ../sass/screen.scss */
.wrapper html[xmlns] ul, .wrapper html[xmlns] div {
  display: block;
}
/* line 47, ../sass/screen.scss */
.wrapper * html ul {
  height: 1%;
}
/* line 48, ../sass/screen.scss */
.wrapper * html div {
  height: 1%;
}

/* line 120, ../sass/screen.scss */
.bonus {
  padding-top: 4px;
  height: 27px;
  position: relative;
  color: white;
  text-align: center;
  background-image: url(../images/sprite.png);
  background-repeat: repeat-x;
  background-position: 0 -248px;
}
/* line 131, ../sass/screen.scss */
.bonus a {
  color: #eaede6;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 2px;
  font-family: "Conv_PFDinTextCompPro-Regular", "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  vertical-align: top;
}
/* line 140, ../sass/screen.scss */
.bonus .close-a {
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  background-position: 0 0;
  position: absolute;
  top: 11px;
  right: 11px;
}
/* line 149, ../sass/screen.scss */
.bonus button {
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #4b3d7c;
  padding: 0 30px;
  color: white;
  height: 23px;
  font-size: 11px;
  margin-left: 10px;
  border-color: #58449e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: url(../images/sprite.png);
  background-position: 0 -421px;
  background-repeat: repeat-x;
}
/* line 166, ../sass/screen.scss */
.bonus button:hover {
  background-position: 0 -441px;
}

/* line 168, ../sass/screen.scss */
.top-nav {
  height: 41px;
  border-top: 1px solid #888888;
  background-image: url(../images/sprite.png);
  background-repeat: repeat-x;
  background-position: 0 -279px;
}
/* line 37, ../sass/screen.scss */
.top-nav ul:after, .top-nav div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 45, ../sass/screen.scss */
.top-nav ul, .top-nav div {
  display: block;
}
/* line 46, ../sass/screen.scss */
.top-nav html[xmlns] ul, .top-nav html[xmlns] div {
  display: block;
}
/* line 47, ../sass/screen.scss */
.top-nav * html ul {
  height: 1%;
}
/* line 48, ../sass/screen.scss */
.top-nav * html div {
  height: 1%;
}
/* line 177, ../sass/screen.scss */
.top-nav ul {
  width: 53.02013%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 179, ../sass/screen.scss */
.top-nav ul li {
  float: right;
  margin-left: 23px;
  padding-top: 10px;
}
/* line 183, ../sass/screen.scss */
.top-nav ul li a {
  font-size: 15px;
  color: white;
}
/* line 188, ../sass/screen.scss */
.top-nav ul .soc-li {
  margin-left: 7px !important;
  padding-top: 6px !important;
}
/* line 191, ../sass/screen.scss */
.top-nav ul .soc-li a {
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  width: 26px;
  height: 27px;
}
/* line 197, ../sass/screen.scss */
.top-nav ul .tw a {
  background-position: 0 -12px;
}
/* line 198, ../sass/screen.scss */
.top-nav ul .tw a:hover {
  background-position: -27px -12px;
}
/* line 199, ../sass/screen.scss */
.top-nav ul .fb a {
  background-position: 0 -40px;
}
/* line 200, ../sass/screen.scss */
.top-nav ul .fb a:hover {
  background-position: -27px -40px;
}
/* line 201, ../sass/screen.scss */
.top-nav ul .vk a {
  background-position: 0 -68px;
}
/* line 202, ../sass/screen.scss */
.top-nav ul .vk a:hover {
  background-position: -27px -68px;
}
/* line 203, ../sass/screen.scss */
.top-nav ul .basket {
  margin-left: 45px !important;
}
/* line 205, ../sass/screen.scss */
.top-nav ul .basket i {
  width: 27px;
  height: 28px;
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  margin-top: -4px;
  margin-right: 9px;
  background-position: 0 -96px;
}
/* line 215, ../sass/screen.scss */
.top-nav ul .basket a:hover i {
  background-position: -27px -96px;
}
/* line 221, ../sass/screen.scss */
.top-nav ul .bord-dot, .top-nav ul .main-head .alright .town .purple, .main-head .alright .town .top-nav ul .purple {
  text-decoration: none;
}
/* line 223, ../sass/screen.scss */
.top-nav ul .bord-dot a, .top-nav ul .main-head .alright .town .purple a, .main-head .alright .town .top-nav ul .purple a {
  text-decoration: none;
}
/* line 224, ../sass/screen.scss */
.top-nav ul .bord-dot span, .top-nav ul .main-head .alright .town .purple span, .main-head .alright .town .top-nav ul .purple span {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: white;
}
/* line 233, ../sass/screen.scss */
.top-nav ul:first-child {
  width: 46.30872%;
  float: left;
  margin-right: 0.67114%;
  display: inline;
}
/* line 235, ../sass/screen.scss */
.top-nav ul:first-child li {
  margin-left: 21px;
  margin-right: 0;
  float: left;
}
/* line 240, ../sass/screen.scss */
.top-nav ul:first-child li:first-child {
  margin-left: 0;
}

/* line 245, ../sass/screen.scss */
.arrow-down {
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  height: 3px;
  width: 5px;
  margin-top: 7px;
  margin-left: 4px;
  background-position: -39px -4px;
}

/* line 37, ../sass/screen.scss */
.main-head ul:after, .main-head div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 45, ../sass/screen.scss */
.main-head ul, .main-head div {
  display: block;
}
/* line 46, ../sass/screen.scss */
.main-head html[xmlns] ul, .main-head html[xmlns] div {
  display: block;
}
/* line 47, ../sass/screen.scss */
.main-head * html ul {
  height: 1%;
}
/* line 48, ../sass/screen.scss */
.main-head * html div {
  height: 1%;
}
/* line 257, ../sass/screen.scss */
.main-head .alleft {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  height: 143px;
  border-bottom: 2px solid #434440;
}
/* line 260, ../sass/screen.scss */
.main-head .alleft .search-box {
  color: #434440;
}
/* line 262, ../sass/screen.scss */
.main-head .alleft .search-box span {
  padding-top: 43px;
  padding-bottom: 3px;
  display: block;
}
/* line 267, ../sass/screen.scss */
.main-head .alleft .search-box div {
  position: relative;
  display: inline-block;
  width: 220px;
  border: 1px solid #434440;
}
/* line 272, ../sass/screen.scss */
.main-head .alleft .search-box div button {
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  width: 19px;
  height: 12px;
  margin-top: 4px;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #fff;
  background-position: -8px 0;
}
/* line 285, ../sass/screen.scss */
.main-head .alleft .search-box div input {
  border: none;
  width: 187px;
  height: 12px;
  display: inline-block;
  padding: 5px;
}
/* line 294, ../sass/screen.scss */
.main-head .alleft .dop-menu {
  padding-top: 13px;
}
/* line 296, ../sass/screen.scss */
.main-head .alleft .dop-menu li {
  float: left;
  padding-top: 5px;
  margin-right: 5%;
}
/* line 300, ../sass/screen.scss */
.main-head .alleft .dop-menu li i {
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  width: 9px;
  height: 10px;
  margin-right: 6px;
  background-position: -27px 0;
}
/* line 309, ../sass/screen.scss */
.main-head .alleft .dop-menu li a {
  font-family: "Conv_PFDinTextCompPro-Regular", "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #6d3895;
}
/* line 320, ../sass/screen.scss */
.main-head .alcenter {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  position: relative;
  height: 142px;
}
/* line 324, ../sass/screen.scss */
.main-head .alcenter img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 331, ../sass/screen.scss */
.main-head .alright {
  width: 38.77551%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  height: 143px;
  border-bottom: 2px solid #434440;
}
/* line 334, ../sass/screen.scss */
.main-head .alright .phone {
  padding-top: 56px;
  padding-bottom: 3px;
  font-family: "Conv_PFDinTextCompPro-Regular", "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-color: #434440;
}
/* line 342, ../sass/screen.scss */
.main-head .alright .phone span {
  color: #a8a3a4;
}
/* line 345, ../sass/screen.scss */
.main-head .alright .town span {
  vertical-align: top;
}
/* line 346, ../sass/screen.scss */
.main-head .alright .town .purple {
  display: inline-block !important;
  position: relative;
  color: #6d3895;
}
/* line 351, ../sass/screen.scss */
.main-head .alright .town .purple span {
  border-bottom-color: #6d3895;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
/* line 358, ../sass/screen.scss */
.main-head .alright .town .purple a {
  color: #6d3895;
  text-decoration: none;
}
/* line 362, ../sass/screen.scss */
.main-head .alright .town .purple ul {
  border: 1px solid #434440;
  display: none;
  position: absolute;
  width: 110px;
  padding: 20px 25px 13px 25px;
  text-align: left;
  background: white;
  top: 100%;
  right: 0;
}
/* line 92, ../sass/screen.scss */
.main-head .alright .town .purple ul li {
  padding-bottom: 12px;
}
/* line 94, ../sass/screen.scss */
.main-head .alright .town .purple ul li a {
  color: #6d3895;
}
/* line 97, ../sass/screen.scss */
.main-head .alright .town .purple ul li a.active {
  text-decoration: none;
  color: #434440;
  cursor: text;
}
/* line 364, ../sass/screen.scss */
.main-head .alright .town div.purple {
  padding-bottom: 8px;
}
/* line 366, ../sass/screen.scss */
.main-head .alright .purple ul {
  display: none;
}

/* line 370, ../sass/screen.scss */
.main-menu {
  padding: 56px 0 0 0;
}
/* line 372, ../sass/screen.scss */
.main-menu li {
  text-align: center;
  width: 14.89362%;
  float: left;
  margin-right: 1.06383%;
  display: inline;
}
/* line 375, ../sass/screen.scss */
.main-menu li a {
  font-family: "Conv_PFDinTextCompPro-Medium", "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  color: #434440;
  font-size: 17px;
  text-transform: uppercase;
}
/* line 383, ../sass/screen.scss */
.main-menu li.last {
  width: 4.25532%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 385, ../sass/screen.scss */
.main-menu li.last a {
  color: #6d3895;
}

/* line 388, ../sass/screen.scss */
.main-cont {
  margin-top: 48px;
  padding-bottom: 20px;
  border-bottom: 2px solid #231f20;
}
/* line 37, ../sass/screen.scss */
.main-cont ul:after, .main-cont div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 45, ../sass/screen.scss */
.main-cont ul, .main-cont div {
  display: block;
}
/* line 46, ../sass/screen.scss */
.main-cont html[xmlns] ul, .main-cont html[xmlns] div {
  display: block;
}
/* line 47, ../sass/screen.scss */
.main-cont * html ul {
  height: 1%;
}
/* line 48, ../sass/screen.scss */
.main-cont * html div {
  height: 1%;
}
/* line 392, ../sass/screen.scss */
.main-cont .slide-box {
  position: relative;
  width: 69.38776%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
}
/* line 395, ../sass/screen.scss */
.main-cont .slide-box img {
  display: block;
  width: 100%;
}
/* line 399, ../sass/screen.scss */
.main-cont .slide-box .slides_container {
  border: 1px solid #ececec;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 19px;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: none;
}
/* line 405, ../sass/screen.scss */
.main-cont .slide-box .slides_container div {
  width: 100%;
}
/* line 406, ../sass/screen.scss */
.main-cont .slide-box .slides_container .caption {
  z-index: 500;
  position: absolute;
  bottom: -35px;
  left: 0;
  height: 73px;
  padding: 29px 0 20px 0;
  background-image: url(../images/sprite.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  width: 100%;
  color: white;
  text-shadow: none;
  font-size: 12px;
  font-family: Tahoma, sans-serif;
}
/* line 421, ../sass/screen.scss */
.main-cont .slide-box .slides_container .caption h3 {
  font-family: "Conv_PFDinTextCompPro-Regular", "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-bottom: 16px;
}
/* line 428, ../sass/screen.scss */
.main-cont .slide-box .slides_container .caption p {
  padding-left: 20px;
  width: 70%;
}
/* line 434, ../sass/screen.scss */
.main-cont .slide-box .pagination {
  position: absolute;
  right: 48px;
  bottom: 74px;
  z-index: 1000;
}
/* line 439, ../sass/screen.scss */
.main-cont .slide-box .pagination li {
  float: left;
  margin: 0 1px 0 9px;
  list-style: none;
}
/* line 443, ../sass/screen.scss */
.main-cont .slide-box .pagination li a {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-image: url(../images/sprite.png);
  background-position: 0 -126px;
  float: left;
  overflow: hidden;
}
/* line 453, ../sass/screen.scss */
.main-cont .slide-box .pagination li a:hover {
  background-position: -21px -126px;
}
/* line 455, ../sass/screen.scss */
.main-cont .slide-box .pagination li.current a {
  background-position: 0 -147px;
}
/* line 458, ../sass/screen.scss */
.main-cont aside {
  width: 28.57143%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* line 462, ../sass/screen.scss */
.base-info {
  border: 1px solid #ececec;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 19px;
  position: relative;
  padding: 19px;
}
/* line 466, ../sass/screen.scss */
.base-info img {
  border: 1px solid #ececec;
  width: 100%;
}
/* line 470, ../sass/screen.scss */
.base-info h3 {
  padding-top: 16px;
}
/* line 472, ../sass/screen.scss */
.base-info h3 a {
  font-family: "Conv_PFDinTextCompPro-Regular", "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  color: #434440;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
}
/* line 479, ../sass/screen.scss */
.base-info h3 a:hover {
  color: #6d3895;
}
/* line 484, ../sass/screen.scss */
.base-info .add-a {
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 40px;
  height: 40px;
  background-position: 0 -167px;
}
/* line 493, ../sass/screen.scss */
.base-info .add-a:hover {
  background-position: 0 -208px;
}

/* line 495, ../sass/screen.scss */
.nice-img {
  padding-top: 40px;
}
/* line 497, ../sass/screen.scss */
.nice-img div {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 500, ../sass/screen.scss */
.nice-img div.last {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 503, ../sass/screen.scss */
.nice-img .base-info {
  padding: 5px;
  text-align: center;
}
/* line 505, ../sass/screen.scss */
.nice-img .base-info img {
  border: none;
  display: block;
}
/* line 509, ../sass/screen.scss */
.nice-img .base-info a {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  text-decoration: none;
  line-height: 84px;
  width: 100%;
  height: 100%;
  font-family: "Conv_PFDinTextCompPro-Medium", "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
}

/* line 528, ../sass/screen.scss */
.bottom-menu {
  padding-top: 3px;
  padding-bottom: 20px;
  border-bottom: 2px solid #231f20;
}
/* line 37, ../sass/screen.scss */
.bottom-menu ul:after, .bottom-menu div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 45, ../sass/screen.scss */
.bottom-menu ul, .bottom-menu div {
  display: block;
}
/* line 46, ../sass/screen.scss */
.bottom-menu html[xmlns] ul, .bottom-menu html[xmlns] div {
  display: block;
}
/* line 47, ../sass/screen.scss */
.bottom-menu * html ul {
  height: 1%;
}
/* line 48, ../sass/screen.scss */
.bottom-menu * html div {
  height: 1%;
}
/* line 532, ../sass/screen.scss */
.bottom-menu li {
  margin-left: 11px;
  margin-right: 37px;
  float: left;
  padding-bottom: 20px;
}
/* line 537, ../sass/screen.scss */
.bottom-menu li .dott-li {
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -46px -1px;
  width: 8px;
  height: 8px;
  margin-top: 12px;
  margin-right: 12px;
}
/* line 545, ../sass/screen.scss */
.bottom-menu li a {
  color: #434440;
  font-size: 28px;
  font-family: "Conv_PFDinTextCompPro-Regular", "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

/* line 554, ../sass/screen.scss */
.bottom-block {
  padding-top: 39px;
}
/* line 556, ../sass/screen.scss */
.bottom-block h3 {
  display: inline-block;
  padding-right: 20px;
  color: #434440;
  font-size: 28px;
  font-family: "Conv_PFDinTextCompPro-Regular", "PT Sans Narrow", "Arial Narrow", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
/* line 564, ../sass/screen.scss */
.bottom-block a {
  color: #6d3895;
}
/* line 567, ../sass/screen.scss */
.bottom-block .bottom-block-cont div.last {
  width: 28.57143%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 37, ../sass/screen.scss */
.bottom-block .bottom-block-cont ul:after, .bottom-block .bottom-block-cont div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 45, ../sass/screen.scss */
.bottom-block .bottom-block-cont ul, .bottom-block .bottom-block-cont div {
  display: block;
}
/* line 46, ../sass/screen.scss */
.bottom-block .bottom-block-cont html[xmlns] ul, .bottom-block .bottom-block-cont html[xmlns] div {
  display: block;
}
/* line 47, ../sass/screen.scss */
.bottom-block .bottom-block-cont * html ul {
  height: 1%;
}
/* line 48, ../sass/screen.scss */
.bottom-block .bottom-block-cont * html div {
  height: 1%;
}
/* line 570, ../sass/screen.scss */
.bottom-block .bottom-block-cont .big-box {
  margin-top: 16px;
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
}
/* line 573, ../sass/screen.scss */
.bottom-block .bottom-block-cont .big-box img {
  width: 50%;
  float: left;
  margin-right: 20px;
}
/* line 578, ../sass/screen.scss */
.bottom-block .bottom-block-cont .big-box h3 {
  display: block;
  padding-top: 0;
}
/* line 583, ../sass/screen.scss */
.bottom-block .bottom-block-cont .small-box {
  width: 28.57143%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  margin-top: 16px;
}
/* line 584, ../sass/screen.scss */
.bottom-block .bottom-block-cont .small-box img {
  width: 214px;
}
/* line 588, ../sass/screen.scss */
.bottom-block .bottom-block-cont .base-info h3 {
  padding-bottom: 14px;
  padding-right: 0;
}
/* line 591, ../sass/screen.scss */
.bottom-block .bottom-block-cont .base-info h3 a {
  font-size: 20px;
  line-height: 20px;
}
/* line 596, ../sass/screen.scss */
.bottom-block .bottom-block-cont .base-info h3 a:hover {
  color: #434440;
}

/* line 600, ../sass/screen.scss */
footer {
  padding-top: 42px;
  height: 59px;
  background-image: url(../images/sprite.png);
  background-position: 0 -320px;
  background-repeat: repeat-x;
}
/* line 37, ../sass/screen.scss */
footer ul:after, footer div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 45, ../sass/screen.scss */
footer ul, footer div {
  display: block;
}
/* line 46, ../sass/screen.scss */
footer html[xmlns] ul, footer html[xmlns] div {
  display: block;
}
/* line 47, ../sass/screen.scss */
footer * html ul {
  height: 1%;
}
/* line 48, ../sass/screen.scss */
footer * html div {
  height: 1%;
}
/* line 609, ../sass/screen.scss */
footer .wrapper div {
  width: 17.72152%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
  text-align: center;
  color: #aeafac;
}
/* line 614, ../sass/screen.scss */
footer .foot-left {
  width: 43.03797%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
}
/* line 616, ../sass/screen.scss */
footer .foot-left li {
  margin-right: 6%;
  padding-bottom: 10px;
}
/* line 617, ../sass/screen.scss */
footer .foot-left li.last {
  margin-right: 0;
}
/* line 619, ../sass/screen.scss */
footer .foot-right {
  width: 36.70886%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 621, ../sass/screen.scss */
footer .foot-right li {
  margin-left: 27px;
  float: right;
}
/* line 626, ../sass/screen.scss */
footer li {
  float: left;
}
/* line 628, ../sass/screen.scss */
footer li a {
  color: white;
}
